:root {
    /* ----------- Font Families ----------- */

    --primary-font: century-gothic, sans-serif;
    --body-font: times-new-roman, san-serif;
    --secondary-body-font: niagara-solid, sans-serif;

    /* ----------- Font Weights ----------- */

    --heavy-font-weight: 900;
    --medium-font-weight: 600;
    /* ----------- Font Size ----------- */



  }
